.input-text:read-only {
   border:none;
 }
.input-text.active, .input-text {
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom: 1px solid lightgray;
}
.avatar {
  border:1px solid lightgray;
  padding:5px;
  border-radius: 5px;
  width: 120px;
  height: auto;
}
.etichetta {
  color:lightgray;
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
